@media (max-width: 1300px){
    .produtos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 500px){
    .produtos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    header{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    footer{
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 1000px;
        padding: 50px;
    }
}